.income-text {
	color: green;
}
.expense-text {
	color: red;
}
.transaction-item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}
.handle-delete {
	margin-left: 10px;
	color: red;
}
.container {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
}
